[Desktop Entry]
Version=1.0
Name=Ward
GenericName=Infinite Canvas
Exec=ward
Icon=ward
Terminal=false
Type=Application
Categories=Development;
StartupWMClass=Ward


